.modal-menu{
  position: absolute;
  top: 100%;
}
.modal-menu.is-hidden{
  opacity: 0;
}
.modal-menu .header__button-open{
  display: none;
}
.modal-menu.is-hidden .header__button-close{
  fill: transparent;
}
.modal-menu.is-hidden .header__button-open{
  display: block;
}
