.work__title-box{
  display: flex;
  align-items: center;
}
.work{
  &__list{
    margin-top: 39px;
    @media screen and (min-width: 768px) {
      margin-top: 30px;
      
    }
  }
  &__item{
    padding-top: 28px;
    // height: 80px;
  }
  &__link{
    display: flex;
    align-items: center;
  }
  &__item:first-child{
    padding-top: 0;
    &::before {
        content: '';
      margin-bottom: 28px;
        display: block;
        height: 1px;
        width: 100%;
        background-color: $lines-color;
      }
  }
  
  &__item::after{
    margin-top: 28px;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: $lines-color;

  }

  &__icon{
    fill:#fff;
    border: 1px solid $lines-color;
    border-radius: 50%;
  }
  

  &__item:active .work__icon{
    border-color: $title-color;
    // transform: rotate(45deg);
  }
  &__title{
    @include h3;
    margin-right: auto;
    width: 50%;
    @media screen and (min-width: 768px) {
        @include h3_tablet;
      }
  }
  &__subtitle{
    @include subtitle16;
    margin-top: 13px;
    display: block;
    
  }
  }
  .work__subtitle.is-hidden{
    display: none;
  }



