$subtitle18-color: #777777;
$title-color: #3D3D3D;
$lines-color: #d5d5d5;
$transition: 300ms linear;
$backdrop: rgba(0, 0, 0, 0.6);

// :root{
//   --transparent-header: transparent;
//   --scrolled-header: #fff;
// }